h1{color: blue;}
h1{
    text-decoration: line-through;
}
legend{color: blueviolet;}
p{color: orange;}
p{
color: blue;
}
p.vermelho{
color: red;
}
body{
    
    background-image: url(fundo.jpg);
    background-repeat: repeat-x;
    background-position: center;
    background-attachment: fixed;
}
.texto{
    text-align: center;
}
legend.arquivo{
color: aquamarine;
}
legend.pesquisa{
color: chocolate;
}
legend.noticia{
color: brown;
}
legend.pagina{
color: crimson;
}
h2.capt{
    text-transform: capitalize;
}
h2.lowcase{
text-transform: lowercase;
}
h4.uppercase{
    text-transform: uppercase;
}
li.casa{
    text-indent: 100px;
}