body {
    background-image: url(astrounauta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

a {
    text-decoration: none;
}



body {
    font-size: 120%;
    font-family: 'Courier New', Courier, monospace
    margin:5px;
}

h2.italico {
    font-style: italic;
    font-size: xx-large;
}

a.menu:hover {
    color: orange
}

a:visited {
    color: red;
}

ol {
    list-style-type: upper-roman;
    color: blue;
}
table{
    border: 1px solid red;
    color: blue;
    border-collapse: collapse;;
    
}